/*Mixins allow you to define styles that can be re-used throughout your stylesheet. They make it easy to avoid using non-semantic classes like .float-left, and to distribute collections of styles in libraries.

Mixins are defined using the @mixin at-rule, which is written @mixin <name> { ... } or @mixin name(<arguments...>) { ... }. */



 // MEDIA QUERY MANAGER
/*
0 - 320px:      Smaller mobile phones
320 - 360px:    Medium mobile phones
360 - 480px:    Biger mobile phones
480 - 768px:    Tablet portrait
768 - 1024px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop


$breakpoint arguement choices:
- s-phone
- m-phone
- b-phone
- tab-port
- tab-land
- big-desktop



ORDER: Base + typography > general layout + grid > page layout > components


1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == s-phone {
      @media only screen and (max-width: 20em) { @content };      //320px
  }
  @if $breakpoint == m-phone{
      @media only screen and (max-width: 22.5em) { @content };   //360px
  }
  @if $breakpoint == b-phone {
      @media only screen and (max-width: 30em) { @content };     //480px
  }
  @if $breakpoint == tab-port {
      @media only screen and (max-width: 48em) { @content };     //768px
  }
 
  @if $breakpoint == tab-land {
      @media only screen and (max-width: 64em) { @content };     //1024px
  }
  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) { @content };  //1800px+
  }
}
//MARGIN LEFT/RIGHT AUTO
@mixin margin-left-right-auto{
    margin-left: auto;
    margin-right: auto;
}

//SCALE - UP
@mixin scale-up{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2); 
    transform: scale(1.2);
    -webkit-filter: brightness(110%);
    -moz-filter: brightness(110%);
    -ms-filter: brightness(110%);
    filter: brightness(110%);    
}

//BORDERS
@mixin border-white{
    border: 0.1rem solid #ddd;
    border-radius: 0.4rem;
    padding: 0.5rem;
    -webkit-box-shadow: -0.1rem 0.3rem 8.5rem -1.3rem rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -0.1rem 0.3rem 8.5rem -1.3rem rgba(0, 0, 0, 0.75);
    box-shadow: -0.1rem 0.3rem 8.5rem -1.3rem rgba(0, 0, 0, 0.75);
}

@mixin border-black{
    border: 0.1rem solid $color-primary-blue;
    background-color: $color-primary-black-background;
    padding: 1rem;
    -webkit-box-shadow: -0.1rem 0.3rem 8.5rem -1.3rem rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -0.1rem 0.3rem 8.5rem -1.3rem rgba(0, 0, 0, 0.75);
    box-shadow: -0.1rem 0.3rem 8.5rem -1.3rem rgba(0, 0, 0, 0.75);
}


//GET-INNCOLVED 
@mixin tear-drop($color) {
      border: 2.5rem solid $color;
      -webkit-box-shadow: 1.8rem -1.6rem 4.7rem 0rem rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1.8rem -1.6rem 4.7rem 0rem rgba(0, 0, 0, 0.75);
      box-shadow: 1.8rem -1.6rem 4.7rem 0rem rgba(0, 0, 0, 0.75);
      background-color: $color-primary-black-background;
  }


//IDEX GRID
  @mixin grid-template($grid-area...){
    min-height: 57rem;
    display: grid;
    grid-area: $grid-area;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; 
    @include respond(tab-land) {
        margin-top: 15rem;
    }   
    @include respond(tab-port) {
        margin-top: 8rem;
    } 


    }

  @mixin grid-template-mobile($flex-direction...) {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: $flex-direction;
     }




//HERO-SLIDESHOW
@mixin animation-delay($time...) {
    -webkit-animation-delay: $time;
    -moz-animation-delay: $time;
    -o-animation-delay: $time;
    -ms-animation-delay: $time;
    animation-delay: $time;
     }

//HEADER-IMAGE
@mixin header-image-properties($height...) {
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    position: relative;
    background-attachment: fixed;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: $height;
     }

//BUTTONS
     @mixin button-hover-effect($color, $v-color...) {
        background-color: $color;
        box-shadow: 0rem 0rem 1rem $color, 0rem 0rem 1rem $color;
        color: $v-color;
        text-shadow: black 0.1rem 0.1rem;
        @include scale-up;
     }



    @mixin btn-span-keyframes-animation{
        .span5{
            &:nth-child(1) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0.1rem;
                background: linear-gradient(to right, $color-primary-gold, $color-primary-gold);
                animation: animate5_1 2s linear infinite;
                
            }
            @keyframes animate5_1 {
                0% {
                    transform: translateX(-100%);
                }
        
                100% {
                    transform: translateX(100%);
                }
            }
            &:nth-child(2) {
                position: absolute;
                top: 0;
                right: 0;
                width: 0.1rem;
                height: 100%;
                background: linear-gradient(to bottom, $color-primary-gold, $color-primary-gold);
                animation: animate5_2 2s linear infinite;
                animation-delay: 1s;
            }
        
            @keyframes animate5_2 {
                0% {
                    transform: translateY(-100%);
        
                }
        
                100% {
                    transform: translateY(100%);
        
                }
            }
            &:nth-child(3) {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.1rem;
                background: linear-gradient(to left, $color-primary-gold, $color-primary-gold);
                animation: animate5_3 2s linear infinite;
            }
        
            @keyframes animate5_3 {
                0% {
                    transform: translateX(100%);
        
                }
        
                100% {
                    transform: translateX(-100%);
        
                }
            }

            &:nth-child(4) {
                position: absolute;
                top: 0;
                left: 0;
                width: 0.1rem;
                height: 100%;
                background: linear-gradient(to top, $color-primary-gold, $color-primary-gold);
                animation: animate5_4 2s linear infinite;
                animation-delay: 1s;
            }
        
            @keyframes animate5_4 {
                0% {
                    transform: translateY(100%);
        
                }
        
                100% {
                    transform: translateY(-100%);
        
                }
            }



        }
    }     
   