.main-wrapper {
    width: 90%;
    margin: auto;
    padding-top: 8rem;
    .wrapper-content {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        justify-content: space-around;
     
      }
    .spacer {
      height: 25rem;
    }
  }