
    /*----------button----------*/
    .button-item{
      text-align: center;      
      .btn {   
          cursor: pointer;
          border: 0.5px solid $color-primary-gold;           
          overflow: hidden;
          background: none;
          transition: 1s;
          letter-spacing: 0.2rem; 

      }

  
  
      .get-involved {
            position: relative;
            display: inline-block;
            //top: 50%;
           // left: 50%;
            //transform: translate(-50%,-50%);
            padding: 1rem 4rem; 
            font-size: 2rem; 
            border-radius: 0.8rem; 
            text-decoration: none;
            @include respond(m-phone) {
              padding: 1rem 2rem;
          }
          @include respond(s-phone) {
            padding: 1rem 1.5rem;
        }
            &:hover {         
              @include scale-up;
          }

            &--transparent{
              color: $color-primary-white;
              border: solid $color-primary-white 0.2rem;
              &:hover {
                @include button-hover-effect(#ffffff61, $color-primary-green);
              }
            }
            &--green{
              color: $color-primary-black-background;
              text-shadow: 0.1rem 0.1rem $primary-color-gray-font; 
              margin-top: 5rem;
              &:hover{
                @include button-hover-effect(#71d1568e, $color-primary-green);
                color: $color-primary-black-background;
                text-shadow: none;
                font-weight: bold;
              }  
            }
         
  
          &::before {
              content: '';
              position: absolute;
              top: 0.2rem;
              left: 0.2rem;
              bottom: 0.2rem;
              width: 50%;
              background: #2ad31a0a;
          }
          @include btn-span-keyframes-animation
      }//get-involved END
  
  
  
  
      .read-more {
        display: inline-block;
          position: relative;
          text-decoration: none;
          padding: 1rem 0;
          margin-top: 5rem;
          width: 17rem;
          border: 1px solid $color-primary-gold;
          border-radius: 1rem;
          color: $color-primary-black-background; 
          font-weight: bold;
          text-align: center;
          
          &:hover {
              @include button-hover-effect($color-primary-blue-transparent, $color-primary-black-background); 
              text-shadow: none;
          }
  
          &::before {
              content: '';
              position: absolute;
              top: 0.2rem;
              left: 0.2rem;
              bottom: 0.2rem;
              width: 50%;
              background: $color-primary-light-blue-transparent;
          }
          @include btn-span-keyframes-animation

      }//read-more END
  
  
  
  }//button-item END


