//TEXT INSIDE .FA INDEX PAGE
.fa {
  transition: 0.2s all ease;
  padding: 0 1rem;
  &:hover > span{
    color: $color-primary-black-background;
  }
}


//HOME - PAGE
.fa-links {
  text-align: center;
  margin-top: 2.5rem;
  @include respond(big-desktop) {
     // margin-top: 4rem;
  }
 
  @include respond(tab-land) {
    margin-top: 6rem;
  }
  @include respond(m-phone) {
    margin-top: 2.5rem;
  }
  .fa, .fas{
     &:hover {
       @include scale-up;
      }

   }

  & :nth-child(1) .fa {
    color: $color-primary-blue;
  }

  & :nth-child(2) .fa {
    color: $color-primary-green;
  }

  & :nth-child(3) .fa {
    color: $color-primary-red;
  }
}


//WHERE WE WORK - PAGE
.fa-contact-links {
  text-align: right;
  margin-top: 2rem;
  @include respond(tab-land) {
    text-align: center;
    margin-top: 2rem;
  }
  .fa{
    &:hover{
      @include scale-up;
    } 
  }
  .fa-envelope-o {
    color: $color-primary-green;
  }

  .fa-linkedin-square {
    color: $color-primary-blue;
  }
}


//FOOTER
.footer{
  
  .fa-facebook {
    background: #3b5998;
    color: $color-primary-white;
  }
  .fa-twitter {
    background: #55acee;
    color: $color-primary-white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: $color-primary-white;
  }
  .fa-youtube {
    background: #bb0000;
    color: $color-primary-white;
  }
}












