

   
#hero-slideshow {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
      content: "";
      background: transparent url("../images/header/human-right-project.jpg") repeat top left;
    }
    ol,
    ul {
      list-style: none;
      li span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
        opacity: 0;
        z-index: 0;
        -webkit-backface-visibility: hidden;
        -webkit-animation: imageAnimation 28s linear infinite 0s;
        -moz-animation: imageAnimation 28s linear infinite 0s;
        -o-animation: imageAnimation 28s linear infinite 0s;
        -ms-animation: imageAnimation 28s linear infinite 0s;
        animation: imageAnimation 28s linear infinite 0s;
      }
      li div {
        z-index: 1000;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        @include respond(big-desktop) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        } 
        @include respond(tab-port) {
          top: 40%;
          left: 50%;
          transform: translate(-50%, -40%);
        } 
 
        width: 100%;
        text-align: center;
        opacity: 0;
        text-transform: uppercase;
        padding: 0;
        line-height: 5rem;
        z-index: 1;
        -webkit-animation: titleAnimation 28s linear infinite 0s;
        -moz-animation: titleAnimation 28s linear infinite 0s;
        -o-animation: titleAnimation 28s linear infinite 0s;
        -ms-animation: titleAnimation 28s linear infinite 0s;
        animation: titleAnimation 28s linear infinite 0s;
        h1 {
          width: 90%;
          @include margin-left-right-auto;
        }
        h2{
          padding-top: 2.5rem;
        }
        p {
          width: 85%;
          @include margin-left-right-auto;
        }
      }
    }
    
    .index-hero-button {
      position: absolute;
      z-index: 1;
      bottom: 13%;
      left: 49%;
      transform: translate(-49%, -13%);  
      @include respond(tab-port) {
        bottom: 20%;
        left: 49%;
        transform: translate(-49%, -20%);  
      }   
      @include respond(tab-port) {
        bottom: 13%;
        left: 49%;
        transform: translate(-49%, -13%);  
      }
  
    }
  
    .slideshow,
    .slideshow:after {
      position: static;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  
    //SLIDE SHOW ANIMATION
    .slideshow li:nth-child(1) span {
      background-image: url("../images/header/human-right-project.jpg");
    }
    .slideshow li:nth-child(2) span {
      background-image: url("../images/header/fresh-water.jpg");
      @include animation-delay(6s);
    }
    .slideshow li:nth-child(3) span {
      background-image: url("../images/header/nutrition-calories.jpg");
      @include animation-delay(12s);

    }
    .slideshow li:nth-child(4) span {
      background-image: url("../images/header/secure-shelter.jpg");
      @include animation-delay(18s);

    }


    //SLIDE SHOW TEXT ANIMATION
    .slideshow li:nth-child(2) div {
      @include animation-delay(6s);
    }
    .slideshow li:nth-child(3) div {
      @include animation-delay(12s);
    }
    .slideshow li:nth-child(4) div {
      @include animation-delay(18s);
    }
      
    //SLIDE SHOW ANIMATION
    @-webkit-keyframes imageAnimation{
      0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
      }
      10% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
      }
      17% {
        opacity: 1;
        -webkit-transform: scale(1.1);
      }
      40% {
        opacity: 0;
        -webkit-transform: scale(1.1);
      }
      100% {
        opacity: 0;
      }
    }
    @-moz-keyframes imageAnimation {
      0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
      }
      8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
      }
      17% {
        opacity: 1;
        -moz-transform: scale(1.1);
      }
      40% {
        opacity: 0;
        -moz-transform: scale(1.1);
      }
      100% {
        opacity: 0;
      }
    }
    @-o-keyframes imageAnimation {
      0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
      }
      8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
      }
      17% {
        opacity: 1;
        -o-transform: scale(1.1);
      }
      40% {
        opacity: 0;
        -o-transform: scale(1.1);
      }
      100% {
        opacity: 0;
      }
    }
    @-ms-keyframes imageAnimation {
      0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
      }
      8% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
      }
      17% {
        opacity: 1;
        -ms-transform: scale(1.1);
      }
      40% {
        opacity: 0;
        -ms-transform: scale(1.1);
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes imageAnimation {
      0% {
        opacity: 0;
        animation-timing-function: ease-in;
      }
      8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
      }
      17% {
        opacity: 1;
        transform: scale(1.1);
      }
      40% {
        opacity: 0;
        transform: scale(1.1);
      }
      100% {
        opacity: 0;
      }
    }
  
    //SLIDE SHOW TEXT ANIMATION
    @-webkit-keyframes titleAnimation {
      0% {
        opacity: 0;
      }
      8% {
        opacity: 1;
      }
      17% {
        opacity: 1;
      }
      25% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    @-moz-keyframes titleAnimation {
      0% {
        opacity: 0;
      }
      8% {
        opacity: 1;
      }
      17% {
        opacity: 1;
      }
      25% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    @-o-keyframes titleAnimation {
      0% {
        opacity: 0;
      }
      8% {
        opacity: 1;
      }
      17% {
        opacity: 1;
      }
      25% {
        opacity: 0;
      }
  
      30% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    @-ms-keyframes titleAnimation {
      0% {
        opacity: 0;
      }
      8% {
        opacity: 1;
      }
      17% {
        opacity: 1;
      }
      25% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes titleAnimation {
      0% {
        opacity: 1;
      }
      8% {
        opacity: 1;
      }
      17% {
        opacity: 1;
      }
      25% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  
    /* Show at least something when animations not supported */
    .no-cssanimations .slideshow li span {
      opacity: 1;
    }
  }
  