
    .share-buttons{ 
      //  position: fixed ;
       // left: 0;
       // top: 50vh;
        margin-top: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        &__item{      
           margin-top: 3rem; 
           
           &:first-child{
               width: 100%;
               h3{
                text-align: center;
                @include respond(tab-land) {
                    font-size: 70% !important;
                 }
               }
           }

            img{
                width: 7rem;
                padding: 1rem;
                border: 0;
                box-shadow: 0;
               // display: table-column;
               display: block;
               &:hover{
                @include scale-up;
               }
            }

        }
           

    }
     