//GET-INVOLVED
.get-involved-image {
  background-image: linear-gradient(to right bottom, rgba($color-primary-black-background, 0.3), rgba($color-primary-black-background, 0.3)),
    url(../images/header/get-involved-header.jpg);
}


.get-involved {
  &__item {
    text-align: center;
    padding: 3rem;
    border-radius: 20rem 0 20rem 20rem;
    margin-top: 10rem;
    a{
      color: $color-primary-white !important;
      margin-top: 0 !important;
      margin-bottom: 1rem;
    }
 

    &:first-child {
      @include tear-drop($color-primary-blue);
    }

    &:nth-child(2) {
      @include tear-drop($color-primary-green);
    }

    &:last-child {
      @include tear-drop($color-primary-red);
    }

    h2 {
      text-align: center;
      color: $color-primary-white !important;
      text-shadow: 0.2px 0.2px black;
    }


    form {
      margin: 0 auto;
      text-align: center;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}