//PAGE INDEX
.page-index {
  &__item {
    display: flex;
    width: 80vw;
    justify-content: center;
    @include respond(tab-land) {
      width: 90vw;
    }
    ul li{
      list-style: none;
    }
    li{
      list-style: disc;
      a{
        text-decoration: none;
        h2{
          &:hover {
            color: lighten($primary-color-darker-gray-header, 30%);
          }
          &::after {
            color: lighten($primary-color-darker-gray-header, 30%);
          } 
        }
      }       
    }
  }
}