//SUKHI222  
.sukhi222-image {
  background-image: linear-gradient(to right bottom, rgba($color-primary-black-background, 0.3), rgba($color-primary-black-background, 0.3)),
    url(../images/header/sukhi222-header.jpg);
}


.sukhi222 {
  &__item {
    width: 80vw;
    margin-top: 5rem;
    @include respond(tab-land) {
      padding-top: 5rem;
    }
    &:not(:first-child) {
      width: 40%;

      @include respond(tab-land) {
        width: 80vw;
      }
    &:last-child{
      font-weight: 600;
      
    }  
    

      img {
        width: 25vw;
        padding-top: 7rem;
        display: block;
        margin: 0 auto;
        text-align: center;
        @include respond(tab-land) {
          width: 90vw;
          margin-left: -7.5%;
        }
        @include respond(b-phone) {
          margin-left: -5%;
        }
        @include respond(m-phone) {
          margin-left: -5%;
        }
        @include respond(s-phone) {
          margin-left: -5%;
        }

      }
    }
  }
}
